<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/topbar %>
<% include ./partials/navbar %>
<div class="greeting">

</div>
<p class = "madeinyc">
MadeiNYC queries the most popular baby names in New York City from the years 2011-2014 using the NYC Open Data SODA API.  The results provide the name's overall rank & count and can be queried by year, sex, and ethnicity.
</p>
</body>
</html>
