<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
<% include ./partials/topbar %>
<% include ./partials/navbar %>
<div class="greeting">
  <h2>
  <% if(user){ %>
    Welcome, <%= user.fname %> <%= user.lname %>
  <% } else { %>
    Welcome, Guest
  <% } %>
  </h2>
</div>
</div>

<select id="year">
   <option value="2011">2011</option>
   <option value="2012">2012</option>
   <option value="2013">2013</option>
</select>
<select id="gender">
   <option value="FEMALE">F</option>
   <option value="MALE">M</option>
</select>
<select id="ethcty">
  <option value="BLACK NON HISPANIC">BLACK NON HISPANIC</option>
  <option value="HISPANIC">HISPANIC</option>
  <option value="ASIAN AND PACIFIC ISLANDER">ASIAN AND PACIFIC ISLANDER</option>
  <option value="WHITE NON HISPANIC">WHITE NON HISPANIC</option>
</select>

<button id="yearbtn">Search</button>
<div id="searchers"></div>

</body>
</html>

