@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
* {
  font-family: 'Open Sans', sans-serif;

}

div li {
  /*border: 1px solid #ccc;*/
  padding:10px;
  display: inline-block;
}

.topbar {
  float:right;
  position: relative;
}

.navbar {
  float:left;
  position: relative;
}

.greeting {
   clear:both;
}

.login, .new {
  clear:both;
}

.blocker {
  display: inline-block;
}

.card {
  padding:10px;
  margin:5px;
  background-color: #F1EFE6;
}

.name {
  font-family: 'Baloo Tamma', cursive;
  font-size: 2em;
  color: #909D55;

}

.rank {
  position:relative;
  margin:-15px;
  float:left;
  color: #F89321;


}

.count {
  color: #FFF;
  float:right;
  clear:both;
  font-weight: bold;
}

.saveme {
  clear:both;
  background-color: #F1EFE6;
  border:none;
  color:#CCC;

}
.saveme:hover {
    color: #0E85D5;
}


.card {
  border: 1px solid #ccc;
}


.madeinyc {
  line-height: 1.5em;
  font-size:3em;
  margin: 0 auto;
  padding:50px;
}
h3.welcome {
  color:#CCC;
  padding:10px;

  float:right;
}
