<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/navbar %>
<body>
<div class="login">
  <form action="/user/login" method="post">
    <li><label for="">Email:</label>
    <input type="text" name="email"><br></li>
    <li><label for="">Password:</label>
    <input type="password" name="password"><br></li>
    <li><input type="submit" value="Login"></li>
  </form>
</div>
</body>
</html>
